<launch>
  <arg name="namespace" default="/"/>

  <group ns="$(arg namespace)">

    <include file="$(find sound_play)/soundplay_node.launch"></include>

    <node pkg="tour_manager" type="location_service.py" name='location_server' output="screen"/>
    <node pkg="tour_manager" type="tour_service.py" name='tour_server' output="screen"/>
    <node pkg="tour_manager" type="scripted_brain.py" name='command_brain' output="screen"/>
    <node pkg="tour_manager" type="voicenav.py" name='voice_nav' output="screen"/>
    
    <node pkg="ros_aiml" type="google_recognizer.py" name='google_recognizer' output="screen"/>

    <param name="aiml_path" value="$(find ros_aiml)/src" />
    <node name="aiml_server" pkg="ros_aiml" type="aiml_server.py" output="screen">
     </node>

    <node name="aiml_tts" pkg="ros_aiml" type="aiml_watson_client.py" output="screen">
     </node>
    <node name="aiml_speech_recog" pkg="ros_aiml" type="aiml_speech_recog_client.py" output="screen">
     </node>

    <node name="recognizer" pkg="ros_aiml" type="command_recogniser.py" output="screen">
        <param name="dict" value="$(find ros_aiml)/src/dictionary.dic"/>
        <param name="fsg" value="$(find ros_aiml)/src/grammar.fsg"/>
    </node>

    <node pkg="ros_aiml" type="presentation_server.py" name='aiml_soundplay_client' output="screen"/>

  </group>
</launch>
