.catkin_workspace
.project
.cproject
include/
.pydevproject
.settings/
build/
devel/
Makefile
devel_isolated/
build_isolated/
.externalToolBuilders/
build.sh
testing
/*~
/*.pyc
/*.*~
/*.brn
/*.save
/*-backup
*-backup
